.top {
  position: fixed;
  top: 1.8em;
  font-size: 1.4em;
  text-decoration: underline;
  color: var(--accent);
}

h2 {
  font-size: 2.4rem;
  color: var(--black);
  margin-bottom: 0.5em;
  text-align: center;
}

section {
  margin: 1em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section p {
  text-align: center;
  margin: 0;
  font-size: 1.1em;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 0.6em;
}

@media only screen and (max-width: 576px) {
  .top {
    font-size: 1.2em;
  }
  section p {
    font-size: 1em;
  }
  h2 {
    font-size: 1.8em;
    margin: 0.5em 0;
  }
  article {
    margin-top: 2em;
  }
  li {
    margin-bottom: 0.2em;
  }
}
