:root {
  --main: #2f2f30;
  --white: #f4f4f5;
  --hover: #e2e2e5;
  --accent: #03045e;
}

.container {
  min-height: 99vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  line-height: 1.15;
  font-size: 5rem;
  color: var(--accent);
}

.form {
  /* margin: 0 2rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form input[type="submit"],
.form input[type="text"] {
  border: solid var(--main) 2px;
  border-radius: 0.2rem;
  background: transparent;
  font-size: 1rem;
}

/* Override browser autocomplete highlighting */
.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--white) inset;
  -webkit-text-fill-color: #333;
}
.form input[type="text"] {
  padding: 0.5rem 0.4rem;
  margin-left: 0.5rem;
}

.form input[type="submit"] {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.form input[type="submit"]:focus {
  outline: solid var(--accent) 1px;
}

.clear {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
}
.clear:focus {
  outline: solid;
  outline-color: var(--main);
  outline-width: 2px;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.todo p {
  margin: 0.6rem 0;
  cursor: pointer;
  color: var(--accent);
}
.minus {
  margin-left: 10rem;
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
  color: #e41919;
  padding: 0.3rem 0.5rem;
}
.minus:hover {
  background-color: var(--hover);
}
.minus:focus {
  outline: solid;
  outline-width: 1px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
