a {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  margin-bottom: 2.5em;
  margin-top: 0;
}

.form {
  /* margin: 0 2rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form input[type="text"] {
  padding: 0.5rem 0.4rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--black);
  border-radius: 0.2rem;
  background: transparent;
  padding: 0.5rem 0.4rem;
  margin-left: 0.5rem;
}
.form input[type="text"]:focus {
  outline: 1px solid var(--black);
}

/* Override browser autocomplete highlighting */
.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--white) inset;
  -webkit-text-fill-color: #333;
}

.submit {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 0.75em;
  background: var(--black);
  padding: 0;
}
.submit:hover .submit_top {
  transform: translateY(-0.33em);
}
.submit:active .submit_top {
  transform: translateY(0);
}

.submit_top {
  display: block;
  border: 2px solid var(--black);
  border-radius: 0.75em;
  padding: 0.5em 1em;
  background: var(--white);
  color: var(--black);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.clear {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.clear:focus {
  outline: 2px solid var(--black);
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.6em 0;
}

.remove {
  margin-left: 10rem;
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
  color: #e41919;
  padding: 0.3rem 0.5rem;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}
.remove:hover {
  background-color: var(--hover);
  transform: scale(1.2);
}
.remove:focus {
  outline: solid;
  outline-width: 1px;
}

label {
  position: relative;
  user-select: none;
}

label:focus-within .checkbox {
  outline: max(2px, 0.1em) solid var(--black);
  outline-offset: max(2px, 0.15em);
}

.checkbox_hidden {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

.checkbox_hidden:checked + .checkbox {
  border-color: var(--accent);
  background: var(--accent);
}

.checkbox {
  display: inline-block;
  vertical-align: top; /* solves weird align */
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 0.5em;
  transition: 120ms ease-in-out;
}

/* TODO: Make a footer with gh links... */

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
